<h2 class="h__md">Noticias varias</h2>
<div class="d-none" id="noticias">
  <div class="col">
    <div class="card h-100 aside__card">
      <img src="" class="card-img-top aside__imagen" alt="...">
      <div class="card-body">
        <a href="#" class="card-title h5"></a>
        <p class="card-text">Hace click para obtener más información</p>
      </div>
      <div class="card-footer">
        <small class="text-muted fecha_news"></small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 aside__card d-lg-none">
      <img src="" class="card-img-top aside__imagen" alt="...">
      <div class="card-body">
        <a href="#" class="card-title h5"></a>
        <p class="card-text">Hace click para obtener más información</p>
      </div>
      <div class="card-footer">
        <small class="text-muted fecha_news"></small>
      </div>
    </div>
  </div>
  <div class="col ">
    <div class="card h-100 aside__card d-lg-none">
      <img src="" class="card-img-top aside__imagen" alt="...">
      <div class="card-body">
        <a href="#" class="card-title h5">London Valves</a>
        <p class="card-text">Hace click para obtener más información</p>
      </div>
      <div class="card-footer">
        <small class="text-muted fecha_news"></small>
      </div>
    </div>
  </div>
  <div class="col ">
    <div class="card h-100 aside__card d-lg-none">
      <img src="" class="card-img-top aside__imagen" alt="...">
      <div class="card-body">
        <a href="#" class="card-title h5">ESC Congress 2022</a>
        <p class="card-text">Hace click para obtener más información</p>
      </div>
      <div class="card-footer">
        <small class="text-muted fecha_news"></small>
      </div>
    </div>
  </div>
</div>