<div class="flex__footer">
      
    <div>
      <h3 class="h__sm">Mercado de Pulgas - Centro de Gestión</h3>
      <p class="p__md center">Sitio web de prueba</p>
      <p class="p__md center">Email: <a
          href="mailto:pruebas@pulgasinternational.org">pruebas@pulgasinternational.org</a></p>
    </div>

    <div>
      <ul>
        <a href="/api/productos/visualizar">Ver stock</a>
      </ul>
      <ul>
        <a href="/api/productos/random">Ver al azar</a>
      </ul>
      <ul>
        <a href="/api/productos/agregar">Agregar producto</a>
      </ul>
      <ul>
        <a href="/api/productos/modificar">Modificar producto</a>
      </ul>
      <ul>
        <a href="/api/productos/eliminar/">Eliminar producto</a>
      </ul>
    </div>

    <div>

      <form>
        <label for="newsletter">Suscribase al newsletter:</label>
        <input type="email" name="newsletter" placeholder="nombre@gmail.com">
        <input type="submit" value="Suscribirse">
      </form>

      <a href="#" class="fa fa-whatsapp"></a>
      <a href="#" class="fa fa-envelope"></a>
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-linkedin"></a>
      <a href="#" class="fa fa-youtube"></a>
      <a href="#" class="fa fa-instagram"></a>
    </div>

  </div>