<div class="header__banner">
    <a href="/"> <img class="header__logo animate__animated animate__jello" src="../../../images/logo.png"></a>
    <h1 class="header__titulo animate__animated animate__bounce">Mercado de Pulgas Informático<br/> Centro de Gestión Interna</h1>
  </div>
  <nav class="navbar navbar-expand-md navbar-light">
    <div class="container-fluid">
      <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav w-100 justify-content-around">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/api/productos/visualizar">Ver stock</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/api/productos/random">Ver al azar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/api/productos/agregar">Agregar producto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/api/productos/modificar">Modificar producto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/api/productos/eliminar">Eliminar producto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>